# Python
__pycache__/
*.pyc
*.pyo
*.env
.env
*.DS_Store
build/
dist/
*.egg-info/
pip-wheel-metadata/

# STM32CubeIDE and build files
*.launch
*.uvguix.*
*.uvoptx
*.uvprojx
*.cproject
*.project
.build/
Debug/
Release/
*.ioc

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Virtual environments
venv/
.env/


